[submodule "java-racingcar"]
	path = java-racingcar
	url = https://github.com/yeonnseok/java-racingcar.git
	branch = bossdog
[submodule "java-lotto"]
	path = java-lotto
	url = https://github.com/yeonnseok/java-lotto.git
	branch = bossdog2
[submodule "java-blackjack"]
	path = java-blackjack
	url = https://github.com/yeonnseok/java-blackjack.git
	branch = bossdog2
[submodule "java-chess"]
	path = java-chess
	url = https://github.com/yeonnseok/java-chess.git
	branch = bossdog-chess
